
[data-testid="login-page-content"] .ons-field input {
    border: 1px solid var(--ons-color-input-border);
    border-radius: 3px;
    color: inherit;
    display: block;
    font-family: inherit;
    font-size: 1rem;
    line-height: 1rem;
    padding: 0.39rem 0.5rem;
    position: relative;
    width: 100%;
    z-index: 3;
}

@media (min-width: 500px) {
    [data-testid="login-page-content"] .ons-field input {
        width: 20rem;
    }
}

[data-testid="login-page-content"] .ons-field input:focus,
[data-testid="login-page-content"] .ons-field input:focus-visible {
    box-shadow: 0 0 0 1px var(--ons-color-input-border), 0 0 0 4px var(--ons-color-focus);
    outline: 3px solid transparent;
    outline-offset: 1px;
}

[data-testid="login-page-content"] .ons-field input[type="username"],
[data-testid="login-page-content"] .ons-field input[type="password"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}